{% extends 'blog/base.html' %}

{% block content %}

    <h1>What is MemoShare?</h1>
    <p>MemoShare is an online platform for sharing your memories with people from around the world. Happy to sad, small to life-changing, you can share any stories you have with the world!</p>
    <h1>How do I use MemoShare?</h1>
    <p>You can create an account right now, and start making posts or reading what others have written!</p>
    <h1>What else can I do?</h1>
    <p>You can like memories, comment on them, or follow users so you will get to read all their posts!</p>
    <h1>Do I have to pay?</h1>
    <p>Nope! MemoShare is completely free of charge!</p>
    <h1>Can I read a few posts?</h1>
    <p>Sure! Go ahead and read a random post here!</p>

{% endblock %}
