{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <h1>Advanced Search</h1><br>
    <link rel="stylesheet" type="text/css" href="{% static "css/advanced_search.css" %}">

    <div style="display: flex;">

        <form action="/search" method="get">
            <label for="text">Title and Content</label>
            <input type="text" name="query" value="{{ query }}" placeholder="Text"><br>
            <br>
            <label for="author">Author</label>
            <input type="text" name="author" value="{{ author_query }}" placeholder="Author"><br>
            <br>
            <label for="text4">Tags</label>
            <input type="text" name="tag" value="{{ tag_query }}" placeholder="Tag"><br>
            <br>
            <label for="text5">Date of Memory</label>
            <input type="text" name="date" value="{{ date_query }}" placeholder="Date"><br>
            <br>
            <label for="text6">Location of Memory</label>
            <input type="text" name="location" value="{{ location_query }}" placeholder="Location"><br>
            <br>
            <label for="start">Start date:</label>
            <input type="date" name="start" value="{{ timestart_query }}" placeholder="Date"><br>
            <label for="start">End date:</label>
            <input type="date" name="end" value="{{ timeend_query }}" placeholder="Date"><br>
            <br>
            <button type="submit">Search</button>

        </form>
    </div>

    <br>
    <br>

    <div style="display: flex;">
        <div class="container">
            <div id='mapid' style='width: 500px; height: 400px;'></div>
            <script>
                var mymap = L.map('mapid').setView([48.083000375950064, 16.43795547510649], 3);
                L.tileLayer('https://tile.jawg.io/jawg-dark/{z}/{x}/{y}{r}.png?access-token=v0jOfF9m0PzFluCn6puv6013nOmcU1vkFsUGKaYExW8OIs8tAsu8YgN4WYGEppYL', {}).addTo(mymap);
                mymap.attributionControl.addAttribution("<a href=\"https://www.jawg.io\" target=\"_blank\">&copy; Jawg</a> - <a href=\"https://www.openstreetmap.org\" target=\"_blank\">&copy; OpenStreetMap</a>&nbsp;contributors")
            </script>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <table class="table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                            <th colspan="7">
                                <span class="btn-group">
                                    <a class="btn"><i class="icon-chevron-left"></i></a>
                                    <a class="btn active">February 2012</a>
                                    <a class="btn"><i class="icon-chevron-right"></i></a>
                                </span>
                            </th>
                            </tr>
                            <tr>
                                <th>Su</th>
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="muted">29</td>
                                <td class="muted">30</td>
                                <td class="muted">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td class="btn-primary"><strong>20</strong></td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td class="muted">1</td>
                                <td class="muted">2</td>
                                <td class="muted">3</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                            <th colspan="7">
                                <span class="btn-group">
                                    <a class="btn"><i class="icon-chevron-left"></i></a>
                                    <a class="btn active">February 2012</a>
                                    <a class="btn"><i class="icon-chevron-right"></i></a>
                                </span>
                            </th>
                            </tr>
                            <tr>
                                <th>Su</th>
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="muted">29</td>
                                <td class="muted">30</td>
                                <td class="muted">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td class="btn-primary"><strong>20</strong></td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td class="muted">1</td>
                                <td class="muted">2</td>
                                <td class="muted">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br>

    <h1>Search Results for posts including "{{ query }}"</h1>
    {% if author_query %}
        <h2>With author: "{{ author_query }}"</h2>
    {% endif %}
    {% if tag_query %}
        <h2>with tags: "{{ tag_query }}"</h2>
    {% endif %}
    {% if results %}
        <ul>
        {% for post in results %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    
{% endblock %}