{% extends 'blog/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.posted_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            {% if post.tags.all %}
                <p> Tags: 
                    {% for tag in post.tags.all %}
                        #{{ tag }}
                    {% endfor %}
                </p>
                {% endif %}    
        </article>
    {% endfor %}
{% endblock %}