{% extends 'blog/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <h1>Hello, {{request.user.username}}!</h1><br>
    <h2>First Name: {{request.user.first_name}}</h2><br>
    <h2>Last Name: {{request.user.last_name}}</h2><br>
    <h2>E-mail Address: {{request.user.email}}</h2><br>
    <h2>Password: {{request.user.password}}</h2><br>
    <h2>Birthday: {{request.user.birthdate}}</h2><br>
    <h2>Location: {{request.user.location}}</h2><br>
    <h2>Bio: {{request.user.bio}}</h2><br>
    <h2>Your Posts</h2><br>
        {% if posts %}
            {% for post in posts %}
                <article class="post">
                    <time class="date">
                        {{ post.posted_date }}
                    </time>
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
        {% else %}
        <p>You have not made any posts yet. <a href="{% url 'post_new' %}">Start now!</a></p>
        {% endif %}
    {% endif %}
    <br>
    <form method="POST" action="{% url 'post_new' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Make a new post</button>
    </form>

    {% if not user.is_authenticated %}
    <h1>Please register, or log in if you are already registered.</h1>
    {% endif %}

{% endblock %}
