{% extends 'blog/base.html' %}

{% block content %}

    <h1>{{userx.username}}'s User Page</h1><br>        
    <h2>Name: {{profilex.name}}</h2><br>
    <h2>Date Joined: {{userx.date_joined}}</h2><br>
    <h2>Birthday: {{profilex.birthdate}}</h2><br>
    <h2>Location: {{profilex.location}}</h2><br>
    <h2>Bio: {{profilex.bio}}</h2><br>
    <h2>{{userx.username}}'s Posts:</h2><br>
        {% if postsx %}
            {% for post in postsx %}
                <article class="post">
                    <time class="date">
                        {{ post.posted_date }}
                    </time>
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
        {% else %}
        <p>{{userx.username}} has not made any posts yet.</p>
        {% endif %}
    <br>

{% endblock %}
