<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My Blog</a></h1>
        </header>

        <article>
            <time>published: 11.04.2023, 14:07</time>
            <h2><a href="">My first post</a></h2>
            <p>I liek chocolate milk!</p>
        </article>

        <article>
            <time>published: 11.04.2023, 14:08</time>
            <h2><a href="">My second post</a></h2>
            <p>I like trains.</p>
        </article>
    </body>
</html>